.ref-button:hover {
  color: #ffffff;
  transition: all 500ms ease-in-out;
  animation: growShrink 500ms ease-in-out;
  /*box-shadow: 0px 0px 25px rgba(255,255,255,0.6);*/
  /*color: white;*/
  /*transition: color 500ms ease-in-out;*/
}

.modal-content {
  border: 1px solid rgba(255,255,255,0.25);
  backdrop-filter: blur(25px);
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  padding: 2vw;
  width: 100%;
  pointer-events: auto;
  background-color: var(--bubble-bg);
  background-clip: padding-box;
  /*border: 1px solid rgba(0,0,0,.2);*/
  border-radius: 3rem;
  /*outline: 0;*/
}

.ref-product-data {
  color: rgba(255,255,255,0.9);
}

.ref-price-col {
  font-size: smaller;
  color: white;
}

.ref-total-col {
  font-size: smaller;
  color: white;
}

.ref-quantity-col {
  font-size: smaller;
  /*padding: 0 2.5vw;*/
  color: white;
}

.ref-links {
  font-size: x-small;
  letter-spacing: 1.5px;
  margin: 10px;
  /*color: #ffffff;*/
}

.ref-totals {
  font-size: small;
  color: rgba(255,255,255,0.9);
}

.ref-product-variants {
  color: #ffffff;
}

.ref-product-wrapper {
  /*color: #ffffff;*/
}

.reflow-shopping-cart .ref-cart .ref-th {
  /*display: none;*/
  width: 100%;
  font-size: .75em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  padding: 12px 0;
}

.reflow-shopping-cart .ref-cart .ref-footer {
  /*display: flex;*/
  /*flex-direction: column-reverse;*/
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255,255,255,0.25);
  padding-top: 15px;
  margin-top: 25px;
}

.reflow-shopping-cart .ref-checkout .ref-back {
  font-size: 1.5em;
  font-family: 'Dongle';
  cursor: pointer;
  margin-bottom: 6px;
  color: rgba(255,255,255,0.5);
}

.reflow-shopping-cart .ref-checkout label {
  color: #ffffff63;
  display: block;
  font-family: 'Dongle';
  margin-bottom: 16px;
}

.justify-content-center {
  justify-content: center!important;
}

.reflow-shopping-cart .ref-checkout .ref-summary-toggle {
  width: 100%;
  background: #f8f9fa00;
  cursor: pointer;
  font-size: .8em;
  user-select: none;
}

.reflow-shopping-cart .ref-checkout .ref-checkout-summary {
  display: none;
  background: #000000;
}

.ref-shipping-form {
  /*VISIBILITY: HIDDEN;*/
  /*margin-bottom: 30px;*/
}

.ref-quantity-widget input {
  color: white;
  width: 40px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  font-size: 25px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.ref-quantity-widget .ref-decrease {
  border-right-width: 2px;
  color: #ffbebe;
  /*border-radius: 50px;*/
  background: rgba(0,0,0,0);
  /*padding: 0px;*/
}

.ref-quantity-widget .ref-increase {
  border-left-width: 2px;
  color: var(--bs-green);
  /*border-radius: 50px;*/
  background: rgba(0,0,0,0);
  /*padding: 0px;*/
}

.ref-quantity-widget {
  /*margin: 0px 20px;*/
  display: inline-flex;
  /*border: 2px solid #ffffff;*/
  border-radius: 100px;
  box-shadow: 2px 2px 2px #0000000d;
  /*color: #000000;*/
}

.ref-button {
  user-select: none;
  transition: all 500s ease-in-out;
  /*margin: 0px 10px;*/
  white-space: nowrap!important;
  letter-spacing: calc(0.2em + 0vw);
  font-family: 'Lexend Giga', sans-serif;
  /*display: inline-block;*/
  padding: 5px 25px;
  /*align-content: center;*/
  /*align-items: center;*/
  /*text-decoration: none;*/
  /*justify-content: center!important;*/
  background: linear-gradient(to right, var(--bs-cyan) 0%, var(--bs-purple) 25%, var(--bs-pink) 50%, var(--bs-orange) 75%, var(--bs-green) 100%);
  background-size: 500% 500%;
  animation: gradient 5s ease-in-out infinite;
  border: 2px solid #ffffff;
  color: #000000;
  border-radius: 100px;
  line-height: 1.5;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 0px 25px rgba(255,255,255,0.25);
  transform: scale(1.0);
}

.reflow-shopping-cart .ref-heading {
  font-family: 'Lexend Giga';
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,255,255,0.85);
}

.ref-message {
  padding: 25px;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.8);
  color: #ffffff;
  font-size: 20px;
  font-family: Dongle, sans-serif;
}

.reflow-shopping-cart .ref-cart {
  /*text-align: center!important;*/
}

.modal {
  transition: all 500ms ease-in-out;
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  z-index: 1055;
  /*display: none;*/
  /*width: auto;*/
  /*height: auto;*/
  overflow-x: hidden;
  overflow-y: auto;
  /*outline: 0;*/
}

.modal-body {
  /*max-height: 500px;*/
  background-color: rgba(0,0,0,0);
  position: relative;
  flex: 1 1 auto;
  padding: 0;
}

.modal-header {
  background-color: rgba(0,0,0,0);
  /*display: flex;*/
  /*flex-shrink: 0;*/
  /*align-items: center;*/
  /*border: none;*/
  /*justify-content: space-between;*/
  /*padding: 0 2rem;*/
  /*border-bottom: 1px solid #dee2e6;*/
  /*border-top-left-radius: calc(.3rem - 1px);*/
  /*border-top-right-radius: calc(.3rem - 1px);*/
  border-bottom: 1px solid rgba(222,226,230,0.25);
}

.ref-shipping-address-holder {
  /*display: none;*/
}

.reflow-shopping-cart .ref-checkout .ref-checkout-summary {
  display: none;
  background: #00000000;
}

button, select {
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.ref-product-col {
  color: rgba(255,255,255,0.9);
  padding: .25rem;
}

.reflow-shopping-cart {
  /*align-content: center!important;*/
  padding: 1rem;
}

.btn-close:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: .75;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none!important;
  opacity: 1;
}

.reflow-shopping-cart .ref-heading-small {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Lexend Giga';
  color: #ffffff;
}

.ref-quantity-widget input {
  color: #ffffff;
  /*width: 50px;*/
  text-align: center;
  background: none;
  border: none;
  outline: none;
  font-size: .75rem;
  padding: 0px;
}

