.footer {
  padding-top: 2.5rem;
  overflow: hidden!important;
  background: var(--body);
  font-family: Dongle, sans-serif;
  font-size: .75rem;
  color: white;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  opacity: 1;
}

.footer-dark h3 {
  text-transform: uppercase;
  font-family: 'Lexend Giga';
  margin-top: 0;
  margin-bottom: 12px;
  /*font-weight: 800;*/
  font-size: .5rem;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: .9rem;
  text-transform: lowercase;
  letter-spacing: .05rem;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: white;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .footer-item:not(.social) {
    /*text-align: center;*/
    padding: 20px 50px;
    /*padding-bottom: 20px;*/
  }
}

@media (max-width:767px) {
  .footer-dark .footer-item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .footer-item.text {
  margin-bottom: 2.5rem!important;
}

@media (min-width:768px) {
  .footer-col {
    padding-left: 50px;
    padding-top: 15px;
  }
}

.footer-dark .footer-item.text p {
  /*padding: 0 25px;*/
  opacity: 0.6;
  margin-bottom: 0;
}

@media (max-width:991px) {
  .footer-dark .footer-item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .footer-item.social > a {
  transition: all 900ms ease;
  margin: 0 calc(10pt + 2vw);
  /*font-size: 20pt;*/
  font-size: 2rem!important;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--font-shadow);
  /*margin: .25rem 1.5rem;*/
  color: var(--rainbow-gradient);
  opacity: 0.25;
}

.footer-dark .footer-item.social > a:hover {
  opacity: 0.9;
}

.meta-card-gradient {
  color: var(--rainbow-gradient);
  background: var(--rainbow-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 250%;
  transition: gradient 500ms ease-in-out;
  -webkit-text-size-adjust: 100%;
  animation: gradient 5s ease infinite;
}

.rainbow-gradient {
  color: var(--rainbow-gradient);
  background: var(--rainbow-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 250%;
  /*transition: gradient 500ms ease-in-out;*/
  /*-webkit-text-size-adjust: 100%;*/
  animation: gradient 5s ease infinite;
}

